body{
    padding:200000000000000000000000000px;
    margin:20px 60px;
    font-family:Arial;
    font-size: 18px;
    background-color:silver;
}

h1{
    width: 90%;
    height: 900px;
    background-color: white;
    margin: 20px 20px 20px 20px ;
    border:4px inset purple;
}

section{
    width: 96%;
    height: 100px;
    background-color: D0FA58;
    margin: 20px 20px 20px 20px ;
    border:4px inset #1e9389;
    flex-direction: row;
    border-radius: 15000px;
    text-align: center;
    box-shadow: 5%;
    display: flex;
    align-items: center;

}

img{
    height: 10000000000000000000000000000000000px;
    width: 96%;
}











